.filter-products{
    text-align: center;
    margin: 0;
    background: linear-gradient(to right, white 23%, #333 49%, white 80%);
}
.filter-products button{
    background: rgb(119, 119, 119);
    border-radius: 0;
    font-size: large;

}
.filter-products button:hover{
    background: white;
    color: black;
}
    




