body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    user-select: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 15px;
    color: #f4f4f4;
}
.navbar ul li a{
    color: #f4f4f4;
    text-decoration: none;
}
.navbar ul li{
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 23px;
}
.navbar ul li:hover{
    background: rgb(34, 34, 34);
}
.navbar ul{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.logo a{
    text-decoration: none;
}
.logo h1{
    color: beige;
    font-family:cursive;
    font-size: 45px;
    margin: 0;
}
.banner h1{
    color: beige;
    font-family: cursive;
    font-size: 65px;
    margin: 0;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
} 
.banner p{
    color: beige;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin: 0;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}  
.banner{
    text-align: center;
    background: url(/images/banner.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 20px;
    color: white;
    font-size: 25px;
    margin: 0;
  
}

.categorias{
    text-align: center;
    margin: 0;
    background: linear-gradient(to right, white 23%, gray 50%, white 90%);
}
.listaCategorias button{
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: large;
    border-radius: 0;
}
.listaCategorias button:hover{
    background: white;
    color: #000;
}
.listaCategorias ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.listaCategorias ul li{
    list-style: none;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    
    gap: 20px;
    padding: 20px;
}
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
